.index {
  max-width: 848px;
  margin: 0 auto;
}
.movie-wrapper {
  margin-bottom: 80px;
  position: relative;
}
.tab-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  background: #fff;
}
.load-btn {
  width: 100%;
  font-size: 18px;
  height: 48px;
  border: none;
  background: #0e88eb;
  color: #fff;
  outline: none;
}
.load-btn[disabled] {
  background: #ccc;
}